@page "/dadJoke"
@using System.Data.Common
@inject LocalStorageService LocalStorage
@inject IHttpClientFactory HttpClientFactory
@inject HttpClient Http
@rendermode InteractiveServer

<PageTitle>Api Intergration</PageTitle>

<h1>Dad Joke Api Intergration</h1>

<p>This component demonstrates how you can intergrate a third party API to get and show data. It also shows how you can use local storage to store the data to help prevent as many API calls.</p>
<p>This intergration was done using the Api by <a href="https://icanhazdadjoke.com/">icanhazdadjoke.com</a>  </p>

<button class="btn btn-primary" @onclick="async () => await GetNewJoke()" > New Joke</button>
<button class="btn btn-danger" @onclick="async () => await ClearJokes()" > Clear Jokes</button>

@if (dadJokeList == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Joke</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var joke in dadJokeList)
            {
                <tr class="mt-2 mb-2">
                    <td>
                        @joke.Joke
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DadJokes? dadJoke;
    private List<DadJokes>? dadJokeList = [];

    protected override async Task OnInitializedAsync()
    {
    }
    protected override async Task OnAfterRenderAsync(bool firstRender){
        
        if (firstRender){

            await RefreshLocalStorage();
            await GetJoke();
            StateHasChanged();
        }

    }
    private async Task RefreshLocalStorage(){

        dadJokeList = await LocalStorage.LoadAsync<List<DadJokes>>("Jokes") ?? new List<DadJokes>();
    
    }
    private async Task GetJoke()
    {
        var client = HttpClientFactory.CreateClient("DadJokeApi");

        var dadJoke = await client.GetFromJsonAsync<DadJokes>("/");

        if (dadJoke != null)
        {
            dadJokeList?.Add(dadJoke);
            await LocalStorage.SaveAsync("Jokes", dadJokeList);
        }
    }

    private async Task ClearJokes(){
        await LocalStorage.SaveAsync("Jokes", new List<DadJokes>());
        await RefreshLocalStorage();
    }

    private async Task GetNewJoke(){
        await GetJoke();
        await RefreshLocalStorage();
    }
    private class DadJokes
    {
        public string Id { get; set; } = string.Empty;
        public string Joke { get; set; } = string.Empty;
        public int Status { get; set; }
    }
}

